@import "tailwindcss";

/* قواعد عامة */
html, body, #root {
  height: 100%;
  overflow-x: hidden !important;
}

/* وأمنع أي عنصر Absolute إنه يحرك المحتوى */
* {
  max-width: 100% !important;
  box-sizing: border-box;
}


body {
  @apply bg-[#071923] text-gray-200; 
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

